{% extends "myapp/index.html" %}

{% block title %}produtos{% endblock title %}


{% block content %}
<div class="container justify-content-center mt-4">
    <div class="card-body">
        <div class="card my_class jus" style="max-width: 150px; margin: auto;">
            <h1>HOME</h1>
        </div>
        <li class="card my_body text-center" style="max-width: 1500px; margin-top: 100px; ">
            <a class="nav-link justify-content-center mt-4" href="/cadastrar"><h1>Cadastrar Colaboradores</h1></a>
        </li>
        <li class="card my_body" style="max-width: 1500px; ">
            <a class="nav-link text-center mt-4" href="/colaboradores"><h1>Colaboradores</h1></a>
        </li>
    </div>
</div>
{% endblock content %}