{% extends "myapp/index.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-4">
    <div class="card my_class">
        <div class="card-header" >
            <div>
            {%if colaboradores%}
                <table>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>Cargo</th>
                      <th>Telefone</th>
                      <th>Ações</th>
                    </tr>
                  {%for colaborador in colaboradores%}  
                  <tr>
                    <td>{{colaborador.id}}</td>
                    <td>{{colaborador.nome}}</td>
                    <td>{{colaborador.cpf}}</td>
                    <td>{{colaborador.cargo}}</td>
                    <td>{{colaborador.telefone}}</td>

                  </tr>
                {%endfor%}
                  </table>
            {%else%}
                <p><h3>Não existem colaboradores cadastrados</h3></p>
            {%endif%}
                </div>
            
        </div>
    </div>
</div>
{% endblock content %}